#my-mastodon-widget {
    width: 100%;
    height: 100%;
    border: #eee 1px solid;
    font: 13px 'Open Sans', sans-serif;
    font-size: 13px;
    color: #343434;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 0;
    margin: 0;
    background: #fcfbfb;
}
#my-mastodon-widget .main {
    box-sizing: border-box;
    padding: 3px 9px;
    overflow-y: scroll;
    height: 100%;
}
#my-mastodon-widget p {
    margin: 0;
}
#my-mastodon-widget a {
    color: #A00E0E;
}
#my-mastodon-widget a:hover {
    color: #CF4141;
}
#my-mastodon-widget a, a:hover, a:link, a:visited {
  text-decoration: none !important; }

#my-mastodon-widget ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
#my-mastodon-widget ::-webkit-scrollbar-thumb {
  background: #eee;
}
#my-mastodon-widget .time {
    color: #aaa;
    padding-bottom: 2px;
    font-size: 11px;
}
#my-mastodon-widget .images .image-wrapper {
    margin-left: 3px;
    margin-top: 2px;
    display: inline-block;
    width: 180px;
    height: 180px;
    overflow: hidden;
}
#my-mastodon-widget .images img {
    min-width: 100%;
    min-height: 100%;
    max-width: 180px;
}
#my-mastodon-widget .emoji {
    width: 18px;
}

#my-mastodon-widget hr {
    border: none;
    background-color: #343434;
    color: #343434;
    height: 1px;
    width: 100%;
}